.room-booking .check-date {
	position: relative;
	margin-bottom: 15px;
}
.room-booking  .input-num {
	position: relative;
	margin-bottom: 15px;
}
.room-booking  .input-text {
	position: relative;
	margin-bottom: 15px;
}
.room-booking  .check-date label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.room-booking  .input-num label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.room-booking  .input-text label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.room-booking  .check-date input {
	width: 100%;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	font-size: 16px;
	color: #19191a;
	text-transform: uppercase;
	font-weight: 500;
	padding-left: 20px;
}
.room-booking  .input-num input{
	width: 100%;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	font-size: 16px;
	color: #19191a;
	text-transform: uppercase;
	font-weight: 500;
	padding-left: 20px;
}
.room-booking  .input-text textarea{
	width: 100%;
	/* height: 100px; */
	border: 1px solid #ebebeb;
	border-radius: 2px;
	font-size: 16px;
	color: #19191a;
	/* text-transform: uppercase; */
	font-weight: 500;
	padding-left: 20px;
}
.room-booking  .check-date i {
	color: #dfa974;
	position: absolute;
	right: 18px;
	bottom: 17px;
}
.room-booking  .select-option {
	margin-bottom: 15px;
}
.room-booking  .select-option label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.room-booking  .select-option .nice-select {
	border-radius: 2px;
	border: 1px solid #ebebeb;
	height: 50px;
	line-height: 50px;
	outline: none;
	padding-left: 20px;
	width: 100%;
	float: none;
}
.room-booking  .select-option .nice-select:after {
	border-bottom: 2px solid #dfa974;
	border-right: 2px solid #dfa974;
	height: 10px;
	margin-top: 0;
	right: 20px;
	width: 10px;
	top: 36%;
}
.room-booking  .select-option .nice-select span {
	font-size: 16px;
	color: #19191a;
	text-transform: uppercase;
	font-weight: 500;
}
.room-booking  .select-option .nice-select .list {
	margin-top: 0;
	width: 100%;
}
.room-booking  .book-btn {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #dfa974;
	/* border-radius: 5px; */
	color: #dfa974;
	font-weight: 500;
	background: transparent;
	width: 100%;
	height: 46px;
	margin-top: 30px;
}
.room-booking  .book-btn:hover{
	background-color: #e09e5b;
	color: #fff;
}
.btn-form{
    display: flex;
    justify-content: space-around;
}